/* Basic */
:root {
  scroll-behavior: smooth;
  font-size: clamp(12px, min(2.3vh, 2vw), 16px);

  --runningLineHeight: clamp(38px, min(7vh, 3vw), 60px);
  --default: #1f1f1f;
  --primary: #fbce51;
  --secondary: #3057a2;
  --accent: #f54932;
  --bg-color: #e9ded4;

  color: #313131;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
}

/* ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
  transition: 0.2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: maroon;
} */

.vasyki__carousel,
.tournament__carousel {
  padding-bottom: 10px;
}
.vasyki__carousel::-webkit-scrollbar,
.tournament__carousel::-webkit-scrollbar {
  height: 5px;
}
.vasyki__carousel::-webkit-scrollbar-track,
.tournament__carousel::-webkit-scrollbar-track {
  background: none;
  border-radius: 20px;
}
.vasyki__carousel::-webkit-scrollbar-thumb,
.tournament__carousel::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 20px;
}

.footer {
  padding: 2.5rem 4.5rem 4.5rem;
  display: grid;
  place-items: center;
}

/* ----------Shared---------- */
/* Titles */
.titlePrimary {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather", sans-serif;
  font-size: clamp(36px, 8vw, 3.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}
.titleSecondary {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather", sans-serif;
  font-size: clamp(28px, 8vw, 3.375rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
}
/* ---Buttons--- */
.btn {
  text-decoration: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;

  text-align: center;
  font-family: "Golos Text", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  transition: 0.2s;
}
.btn[disabled] {
  cursor: default;
}
.btnDefault {
  padding: 1.25rem;
  color: #fff;
  border-radius: 4.125rem;
  background: var(--default);
  border: 2px solid var(--default);
}
.btnPrimary {
  padding: 1.25rem;
  flex: 1 0 0;
  color: var(--default);
  border-radius: 4.125rem;
  border: 2px solid var(--default);
}
.btnSecondary {
  padding: 0.75rem;
  flex: 1 0 0;
  color: var(--secondary);
  border-radius: 3.875rem;
  border: 1px solid var(--secondary);
}
.btnForward,
.btnBack {
  flex: 0;
}
.btnForward svg,
.btnBack svg {
  fill: currentColor;
  width: 44px;
  height: 44px;
}
.btnForward:active,
.btnBack:active {
  color: var(--primary);
}
.btnForward[disabled],
.btnBack[disabled] {
  color: #d6d6d6;
}
.btnForward svg,
.btnBack svg {
  transition: 100ms;
}
/* ---RunningLine--- */
.runningLineWrapper {
  position: relative;
  overflow: hidden;
  height: var(--runningLineHeight);

  background: var(--accent);
  display: flex;
  align-items: center;
}
.runningLine {
  display: flex;
  gap: 0.75rem;
  color: #fff;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather", sans-serif;
  font-size: clamp(14px, min(5vh, 1.2vw), 3.375rem);
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}
.runningLine:nth-child(1) {
  animation: runningLineAnimation1 60s linear infinite;
  animation-delay: -60s;
}
.runningLine:nth-child(2) {
  animation: runningLineAnimation2 60s linear infinite;
  animation-delay: -30s;
}
/* ---Text Decorations--- */
.accentTextPrimary {
  color: var(--accent);
}
.accentTextSecondary {
  color: var(--secondary);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: clamp(18px, 4vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.crossedText {
  text-decoration: line-through;
  text-decoration-color: var(--accent);
}
/* ---Other--- */
.sharedBodyPadding {
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}
/* ----------Heder---------- */
.header {
  position: relative;
  height: 100vh;
  max-height: 700px;
  min-height: 600px;
  overflow: hidden;
}
.header__bg {
  height: 100%;
  mix-blend-mode: multiply;
  background: var(--bg-color);
}
.header__background,
.header__foreground {
  position: absolute;
  object-fit: cover;
  left: 50%;
  z-index: -999;
}
.header__background {
  width: 660px;
  height: 660px;
  top: -44px;
  transform: translate(calc(309px - 50%), 0);
}
.header__foreground {
  transform: translate(-50%, 0);
  bottom: 0;
}
.header__overlay {
  background-image: url("./assets/overlay-s.png");
  position: absolute;
  z-index: -10;
  mix-blend-mode: color-burn;
  height: 100%;
  width: 100%;
}
/* ---Nav--- */
.header__nav {
  /* Header specific style*/
  position: absolute;
  top: 1.62rem;
  left: 72px;
  width: min-content;
  z-index: 999;
}
.nav__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__title {
  padding-top: clamp(40px, 11vh, 90px);
}
.nav__text {
  color: #151515;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Montserrat", sans-sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 1.5rem 0 2.5rem;
  white-space: nowrap;
}
.nav__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* ----------Support section---------- */
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  overflow-x: hidden;
}
.support__title {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Merriweather", sans-serif;
  font-size: clamp(28px, 3vw, 37px);
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  text-transform: uppercase;
}
.support__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.support__headerImg {
  min-width: 335px;
  max-width: 396px;
  width: 40vw;
}
.support__body {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 4.5rem 0 2.81rem;
}
.support__bodyImg {
  max-width: 609px;
  width: 40vw;
}
.support__bodyTable {
  width: 100%;
  text-align: left;

  border-collapse: collapse;
  border-style: hidden;

  margin: 3.75rem 0 3rem 0;
}
.support__bodyTable th,
.support__bodyTable td {
  border: 2px solid #d0d0d0;
  padding: 1rem 0;
  line-height: 2;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: clamp(20px, 4vw, 1.25rem);
  font-style: normal;
  line-height: 120%;
}
.support__bodyTable th {
  font-weight: 400;
  opacity: 0.7;
}
.support__bodyTable td {
  font-weight: 600;
  padding-left: 1rem;
}

/* ----------Vasyki---------- */
.vasyki {
  padding-top: 10rem;
  padding-bottom: 12.5rem;
}
.vasyki__carouselNav {
  display: none;
}
.vasyki__title {
  display: inline;
}
.vasyki__titleSub {
  display: inline-block;
}
.vasyki__stage {
  position: relative;
  background: var(--bg-color);
  padding: 1.25rem;

  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}
.vasyki__stage::before {
  position: relative;
  content: attr(data-index);
  z-index: 1;
  background-color: #fff;
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;

  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.vasyki__stageText {
  position: relative;
  z-index: 1;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: clamp(18px, 1.5vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.vasyki__stage:last-child .vasyki__stageText {
  padding-right: 315px;
}
.vasyki__stage::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/card-bg.png");
  mix-blend-mode: color-burn;
}
.vasyki__body {
  display: grid;
  place-items: center;
}
.vasyki__stagesWrapper {
  position: relative;
  max-width: 1920px;
  padding-top: 3.37rem;
}
.vasyki__bodyImg {
  position: absolute;
  z-index: 999;
  bottom: 0;
  right: -50px;
}
.vasyki__stages {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-auto-flow: row;
  grid-template-areas:
    "one two two three three"
    "four five five three three"
    "six seven seven seven seven";
}
.vasyki__stage[data-index="1"] {
  grid-area: one;
}
.vasyki__stage[data-index="2"] {
  grid-area: two;
}
.vasyki__stage[data-index="3"] {
  grid-area: three;
}
.vasyki__stage[data-index="4"] {
  grid-area: four;
}
.vasyki__stage[data-index="5"] {
  grid-area: five;
}
.vasyki__stage[data-index="6"] {
  grid-area: six;
}
.vasyki__stage[data-index="7"] {
  grid-area: seven;
}

/* ----------Tournament---------- */
.tournament {
  width: 100%;
}
.tournament__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tournament__body {
  padding: 3.75rem 0 8.75rem;
  display: grid;
  place-items: center;
}
.tournament__player {
  display: grid;
  justify-items: center;
  gap: 1.25rem;
}
.tournament__playerImg {
  min-width: 244px;
  max-width: 320px;
  width: 23.5vw;
}
.tournament__playerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}
.tournament__playerTitle {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.tournament__playerText {
  color: #313131;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.tournament__carouselWrapper {
  max-width: 1222px;
  min-width: 375px;
  width: 90vw;
}
.tournament__carouselNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tournament__carouselPageCurrent,
.tournament__carouselPageMax {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.tournament__carouselPageMax {
  content: "/6";
  opacity: 0.6;
}
.tournament__carousel {
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min(calc(100% / 3), 394px);
  gap: 20px;
}
/* ----------Footer---------- */
.footer {
  background: var(--bg-color);
}
.footer__text {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text", sans-serif;
  font-size: clamp(16px, 4vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.2rem */
  opacity: 0.6;
}

/* ----------Media---------- */
/* Don't apply hover on touchscreen and disabled (if svg) buttons */
@media (hover: hover) {
  :root {
    --btnShadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.233);
  }
  .btnDefault:hover {
    color: var(--default);
    background: var(--primary);
    border: 2px solid var(--primary);
    box-shadow: var(--btnShadow);
    transform: translateY(-5px);
  }
  .btnPrimary:hover {
    color: #fff;
    background: var(--default);
    border: 2px solid var(--default);
    opacity: 1;
    box-shadow: var(--btnShadow);
    transform: translateY(-5px);
  }
  .btnSecondary:hover {
    color: #fff;
    background: var(--secondary);
    border: 1px solid var(--secondary);
    box-shadow: var(--btnShadow);
    transform: translateY(-5px);
  }
  .btnBack:hover:not([disabled]),
  .btnForward:hover:not([disabled]) {
    color: var(--primary);
  }
}
/* Natural breakpoint for layout shifts */
@media (width < 867px) {
  .btn {
    white-space: nowrap;
  }
  .btnForward svg,
  .btnBack svg {
    fill: currentColor;
    width: 36px;
    height: 36px;
  }
  .hiddenWhenSmall {
    display: none;
  }
  .sharedBodyPadding {
    padding-right: clamp(20px, 5vw, 4.5rem);
    padding-left: clamp(20px, 5vw, 4.5rem);
  }
  .main {
    padding: clamp(48px, 5vh, 6.68rem) 0 clamp(120px, 8vh, 8.75rem);
  }
  .footer {
    padding: 2.5rem clamp(1.25rem, 10vw, 4.5rem) 3.75rem;
  }
  .header {
    min-height: 812px;
  }
  .header__background {
    top: auto;
    bottom: 66px;
    width: 80vw;
    height: 80vw;
    min-width: 297.474px;
    min-height: 297.474px;
    transform: translate(calc(-50%), 0);
  }
  .header__foreground {
    width: 200vw;
    min-width: 885.528px;
    min-height: 246.813px;
    transform: translate(calc(-66%), 0);
  }
  .header__nav {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 0 20px;
  }
  .nav__title {
    padding-top: 40px;
  }
  .nav__text {
    white-space: normal;
  }
  .nav__buttons {
    flex-direction: column;
    align-items: stretch;
  }
  .support {
    gap: 2.15rem;
  }
  .support__title {
    width: 100%;
  }
  .support__header {
    flex-direction: column;
    gap: 1.5rem;
  }
  .support__body {
    padding: 0;
    flex-direction: column;
    gap: 0;
  }
  .support__bodyContent {
    padding: 0 clamp(20px, 5vw, 4.5rem);
  }
  .support__headerImg {
    max-width: 450px;
    width: 52vw;
  }
  .support__bodyImg {
    min-width: 374px;
    width: 68vw;
    margin-bottom: 1.19rem;
  }
  .support__bodyTable th,
  .support__bodyTable td {
    border: none;
  }
  .support__bodyTable tr {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .support__bodyTable tr:not(:last-child) {
    border-bottom: 2px solid #d0d0d0;
  }
  .vasyki {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  .tournament__body {
    padding: 2.5rem 0 6.25rem;
  }
}
@media (width > 866px) {
  .hiddenWhenBig {
    display: none;
  }
}
/* Natural breakpoint to change btnPrimary in header */
@media (width < 1176px) {
  .btnPrimary {
    opacity: 0.9;
    background: #fff;
    border: 2px solid #fff;
  }
}
/* Natural breakpoint where grid layout of vasyki section changes to carousel */
@media (width < 1028px) {
  /* Reset grid specific styles */
  .vasyki__stages {
    display: block;
    /* Style if carousel is unbailable */
    padding-top: 2vh;
  }
  .vasyki__stage {
    margin: 1rem 0;
  }
  .vasyki__stage:last-child .vasyki__stageText {
    padding-right: 0px;
  }
  .vasyki__stagesWrapper {
    padding-top: 148px;
  }
  .vasyki__bodyImg {
    min-width: 341px;
    max-width: 401px;
    width: 60vw;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  /* Carousel */
  .vasyki__carousel .vasyki__stage {
    padding: 0 1.5rem 1.75rem;
    background: none;
  }
  .vasyki__carousel {
    min-width: 335px;
    width: 55vw;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    /* Reset of stages styles if carousel is available */
    padding-top: 0px;
  }
  .vasyki__carousel .vasyki__stage::after {
    display: none;
  }
  .vasyki__carouselNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .vasyki__carouselPage {
    display: inline-flex;
    gap: 6px;
  }
  .vasyki__carouselPageDot {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    transition: 0.2s;
  }
  .vasyki__carouselPageDot--active {
    background-color: #151515;
  }
  .vasyki__carouselElem {
    padding-top: 80px;
    background-color: var(--bg-color);
    padding-bottom: calc(2.13rem - 1.75rem);
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
  }
  .vasyki__carouselElem::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url("./assets/card-bg.png");
    mix-blend-mode: color-burn;
  }
}
/* Natural  breakpoints of tournament carousel */
@media (max-width: 720px) {
  .tournament__carousel {
    grid-auto-columns: 100%;
  }
  .tournament__carouselElem {
    scroll-snap-align: start;
  }
}
@media (width > 720px) and (max-width: 1220px) {
  .tournament__carousel {
    grid-auto-columns: calc(100% / 2);
  }
  .tournament__carouselElem:nth-child(2n + 2) {
    scroll-snap-align: start;
  }
}
@media (width > 1220px) {
  .tournament__carouselElem:nth-child(3n + 1) {
    scroll-snap-align: start;
  }
}
/* All queries below are design specific */
@media (width < 388px) {
  .nav__text {
    text-align: start;
    font-size: 17px;
  }
  .support__bodyTable tr {
    text-align: left;
  }
}
@media (width > 1366px) {
  .header__nav {
    right: 55%;
    left: inherit;
  }
}
@media (width > 1919px) {
  .nav__text {
    font-weight: 500;
  }
  .titlePrimary {
    color: #060606;
  }
  :root {
    --default: #060606;
  }
}

/* ----------Animations---------- */
@keyframes runningLineAnimation1 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(calc(0.75rem - 150%));
  }
}
@keyframes runningLineAnimation2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(0.75rem - 250%));
  }
}
